body {
  font-family: sans-serif;
  margin: 6em;
}
table {
  border-collapse: collapse;
  border: 1px solid #CCC;
}
th, td {
  padding: .25em .5em;
}
thead, tfoot {
  background-color: #EEE;
}
.row {
  transition: background .3s;
}
.highlight {
  background-color: yellow;
}
#container ul {
  list-style-type: none;
  padding: 1em 0;
  margin: 0;
}
#container li {
  margin: 0;
  padding .25em .5em;
}
.add-remove {
  margin-bottom: 3em;
  border: 1px solid #CCC;
  padding: 3em;
}

.added {
  background-color: yellow;
}
button {
  font-weight: bold;
  background-color: #FFF;
  padding: .25em .75em;
  border: 1px solid #999;
  border-radius: .25em;
}

.container {
  transition: background .3s;
}
.removed {
  background-color: #FEE;
}
.renumber button {
  background-color: green;
  color: white;
}
